@using UUWebstore.Models;
@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
}
<div>
    @Html.ActionLink("Upload Banner", "uploadbanner")
</div>
<h2>Available Banners</h2>
<div class="row">
    <div class="form-group">    
        <div class="col-md-10">
            @Html.DropDownList("userId", null,"Created By", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
          <div class="col-md-10">
            <input type="button" value="Search" class="btn btn-default" onclick="searchResult()" />
        </div>
    </div>
</div>
<div class="row">
    <div class="table-responsive" id="viewResult">
        <div class="col-lg-12 white-box">
            <p>Please use above search criteria to view the result list</p>
        </div>
    </div>
</div>
    <script>

        function searchResult() {
            debugger
            var userId = $("#userId").val();
            $.ajax({
                url: '@BaseUtil.GetApplicationPath()' + '/websetting/Partial_SearchBannerReult',
                type: 'POST',
                data: { 'userId': userId },
                success: function (data) {
                    debugger
                    $('#viewResult').html(data);
                },
                error: function () {
                    bootbox.alert({
                        title: "Alert !",
                        message: '<p>Whooaaa! Something went wrong..</p>',
                        timeOut: 2000

                    });

                }
            });
        }
    </script>

    <script>
    $(document).ready(function () {
        debugger
        if ('@TempData["result"]' != null && '@TempData["result"]' != '') {
                bootbox.alert({
                    title: "Success !",
                    message: '<p>Banner uploaded successfully</p>',
                });
        }
    });
    </script>
