@using UUWebstore.Models;
@*<link href="~/Content/slimtable.css" rel="stylesheet" />
    <script src="~/Scripts/slimtable.js"></script>*@
@{
    Layout = "~/Views/Shared/_LayoutInternal.cshtml";
}

<h2>Products</h2>
<div class="form-horizontal">

    <h4 class="page-header">search</h4>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <select id="ddl_filterCategory">
                    <option value="1">Featured</option>
                    <option value="0">All</option>                   
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                @Html.DropDownList("productCategoryId", null,"Product Categories", new { @class = "form-control" })               @*onChange = "fillSubCategories()"*@
            </div>

        </div>
        @*<div class="col-md-3"">
            <div class="form-group">
                @Html.DropDownList("productSubCategoryId", null,"Product Subcategories", new { @class = "form-control" })
            </div>
        </div>*@
        <div class="col-md-3">
            <div class="form-group">
                @Html.DropDownList("userId", null, "Featured products Of", new { @class = "form-control" })
            </div>

        </div>
        <div class="col-md-3">
            <div class="form-group">
                <input type="button" value="Search" class="btn btn-default" onclick="searchResult()" />
            </div>
        </div>
    </div>

</div>

<div class="table-responsive col-lg-12" id="viewResult">
    <div class="col-lg-12 white-box">
        <p>Please use above search criteria to view the result list</p>
    </div>
</div>

<script>
    $('#ddl_filterCategory').on('change', function () {
       ddl_filter=   $("#ddl_filterCategory").val();
        if (ddl_filter != "") {
            debugger
            $.ajax({
                url:  '@BaseUtil.GetApplicationPath()'+'/Products/fillProductCategories',
                type: 'GET',
                data: { 'productCategoryId': ddl_filter },
                success: function (result) {

                    $("#productCategoryId").html("");
                    $("#productCategoryId").append($('<option></option>').val('').html('Product Categories'));
                    $.each($.parseJSON(result), function (i, VSC) {
                        $("#productCategoryId").append($('<option></option>').val(VSC.productCategoryId).html(VSC.name))
                    })

                },
                error: function () {

                    bootbox.alert({
                        title: "Alert !",
                        message: '<p>Whooaaa! Something went wrong..</p>',
                        timeOut: 2000

                    });
                },
            });
        }
    })
</script>
<script>
    $(document).ready(function () {
        searchResult()
    })

</script>
<script>

    function searchResult() {

        var ddl_filterCategory = $("#ddl_filterCategory").val();
        var productCategoryId = $("#productCategoryId").val() == '' ? 0 : $("#productCategoryId").val();
        //var productSubCategoryId = $("#productSubCategoryId").val() == '' ? 0 : $("#productSubCategoryId").val();
        var userId = $("#userId").val() == '' ? 0 : $("#userId").val();
        var productSubCategoryId = 0;
       
        $.ajax({
            url: '@BaseUtil.GetApplicationPath()' + '/Products/Partial_SearchProductsReult',
            type: 'POST',
            data: { 'productOptions_All_featured': ddl_filterCategory, 'productCategoryId': productCategoryId, 'productSubCategoryId': productSubCategoryId, 'UserId': userId },
            success: function (data) {
                debugger
                $('#viewResult').html(data);
            },
            error: function () {
                bootbox.alert({
                    title: "Alert !",
                    message: '<p>Whooaaa! Something went wrong..</p>',
                    timeOut: 2000

                });

            }
        });
    }
</script>
