@model IEnumerable<UUWebstore.Models.getFilteredUsers_Result>


<table class="table" id="tblData">
    
    <thead>
        <tr>
            <th>Sr</th>
            <th>
                User Name
            </th>
            <th>
                Full Name
            </th>
            <th>
                Phone
            </th>
            <th>
                Email Address
            </th>
            <th>
                Website
            </th>
            <th>
                Address
            </th>
            <th>
                Active
            </th>

            <th>
                supplier PPAI/ASI
            </th>
            <th>
                Created By
            </th>
          

            <th></th>
        </tr>
    </thead>

    @{
        var a = Model.Count();

    }
    <tbody>
        @if (a == 0)
        {
            <tr>
                <td colspan="12">
                    No Result Found
                </td>
            </tr>
        }



        @{    int i = 0; }
        @foreach (var item in Model)
        {

            <tr>
                <td>@(i += 1)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.userName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.phone) <br />@Html.DisplayFor(modelItem => item.mobile)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.emailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.website)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.address) ,@Html.DisplayFor(modelItem => item.location)<br />
                    @Html.DisplayFor(modelItem => item.cityName),@Html.DisplayFor(modelItem => item.stateName),@Html.DisplayFor(modelItem => item.countryName), @Html.DisplayFor(modelItem => item.zipcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isActive)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.supplier_PPAI_ASI)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.createdByName)<br />@item.createdDate.ToString("MM/dd/yyyy")
                </td>

                <td>
                    <a href="@Url.Action("Edit", "users", new { userID = item.userId })"><i class="glyphicon glyphicon-pencil"></i></a>
                    <a onclick="RemoveRecord('productCatalog',@item.userId)"><i class="glyphicon glyphicon-trash"></i></a>

                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(function () {
        $("#tblData").slimtable({
            tableData: null,
            dataUrl: null,
            itemsPerPage: 100,
            ipp_list: [10, 50, 100],
            colSettings: [],
            text1: "items/page",
            text2: "Loading...",
            sortStartCB: null,
            sortEndCB: null,
            aoColumnDefs: [{
                'bSortable': false,
                'aTargets': [-1] /* 1st one, start by the right */
            }]
        });
    });
</script>
